.third {
    background-color: var(--color-dark-green);
    padding: 200px 207px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.third-content {

    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.third-content h2 {
    color: white;
    line-height: 1.3;

}

.third-content p {
    color: white;
    font-weight: 600;
    font-size: 25px;
}

.third img {
    max-width: 650px;
    border-radius: 16px;
    display: block;
    flex: 1;
}