.first {
    background-image:
        linear-gradient(to right, #ffffff 1%, transparent 100%),
        url("../img/1.jpg");
    background-size: cover;
    height: 895px;
    background-position: 250px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
}


.description {
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    padding-left: 275px;
    max-width: 800px;
    position: relative;
    align-items: flex-start;
    gap: 20px;

}

.description h2,
.description p,
.description button {
    position: relative;
    z-index: 2;
}

.first h2 {
    font-size: 65px;
}

@media (max-width: 900px) {
    .first {
        background-image: none;
        height: auto;
        justify-content: center;
    }

    .description {
        margin-top: 100px;
        padding-left: 0px;
        max-width: 500px;
        padding-left: 0px;
        margin-left: 20px;
    }

    .first h2 {
        font-size: calc(1rem + 5vw);
    }


}

@media (max-width: 500px) {

    .description {
        max-width: 400px;
        padding-left: 0px;
    }


}