.forth {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    max-width: 1370px;
    margin: 0 auto 168px auto;
    padding: 100px 50px;
    flex-wrap: wrap;
}


.forth-left {
    position: relative;
    flex: 1;
    max-width: 650px;
    height: 600px;
}

.green-square {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #01996D33;
    border-radius: 18px;
    z-index: 1;
}

.main-img {
    position: absolute;
    top: -40px;
    left: 100px;
    width: 420px;
    height: 640px;
    border-radius: 18px;
    z-index: 2;
    object-fit: cover;
}

.white-square {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 296px;
    height: 294px;
    background: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.text-block {
    text-align: center;
    color: #000;
    padding-top: 20px;
}

.text-block h4 {
    font-size: 15px;
    font-weight: 600;
}

.line {
    margin: 8px auto;
    width: 111px;
    height: 1px;
    background-color: black;
}

.green-square2,
.main-img2 {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    object-fit: cover;
}

.green-square2 {
    background: #01996D33;
    z-index: 1;
}

.main-img2 {
    z-index: 2;
}

.text-block h5 {
    font-size: 12px;
    margin-top: 90px;
}

.text-block h3 {
    font-size: 16px;
    margin-top: 20px;
}

.text-block ul {

    padding: 0;
    margin: 16px 0 0 85px;
    text-align: left;
}

.text-block li {
    font-size: 11px;
    padding-top: 10px;
}

.forth-right {
    margin-top: 15px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.forth-right .p1 {
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}

.forth-right h2 {
    line-height: 1.3;
}

.forth-right p {
    line-height: 1.5;
}

.forth-right button {
    align-self: flex-start;
}