.footer {
    background-color: var(--color-dark-green);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 95px 275px;
    gap: 60px;
}

.footer h1 {
    font-weight: 900;
    font-size: 40px;
    color: white;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer ul li {
    color: white;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
}