.footer {
    background-color: var(--color-dark-green);

    padding: 95px 275px;

}

.descriptionf {
    gap: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer h1 {
    font-weight: 900;
    font-size: 40px;
    color: white;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer ul li {
    color: white;
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .footer {
        background-color: var(--color-dark-green);

        padding: 95px 0;

    }

    .descriptionf {

        align-items: center;
        font-size: calc(1rem + 5vw);
        align-items: center;
    }
}