@import url("reset.css");
@import url("base.css");
@import url("header.css");
@import url("footer.css");
@import url("article1.css");
@import url("article2.css");
@import url("article3.css");
@import url("article4.css");





body {

    margin: auto;
    color: var(--color-dark);
    font-family: var(--font);
    background-color: var(--color-white);


}

.container {
    margin: 0 auto;
    width: var(--width);
}

/*лого*/
h1 {
    font-weight: 700;
    font-family: var(--font-h);
    font-size: 30px;
    color: var(--color-green);
}

/*заголовки*/
h2 {
    font-weight: 700;
    font-family: var(--font-h);
    font-size: 50px;
    color: var(--color-green);
}

/*колонки*/
h3 {
    font-weight: 700;
    font-family: var(--font-h);
    font-size: 30px;
}

p {
    font-weight: 400;
    font-family: var(--font);
    font-size: 20px;
    line-height: 1.5;
    color: #424242;
}

a {
    font-weight: 500;
    font-family: var(--font);
    font-size: 20px;
    color: var(--color-dark);
    text-decoration: none;
}

a:hover {
    font-weight: 800;
}

button {
    padding: 20px 50px;
    border-radius: 4px;
    font-family: var(--font);
    font-size: 20px;
    color: var(--color-white);
    background-color: var(--color-green);
}

button:hover {
    transform: scale(1.1);
}


ul {
    list-style-type: disc;
}